---
http_interactions:
- request:
    method: post
    uri: https://uploads.stripe.com/v1/files
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost-b3ae83c4cbd9c4d050fe01c97f0f75c3\r\nContent-Disposition:
        form-data; name=\"purpose\"\r\n\r\nidentity_document\r\n-------------RubyMultipartPost-b3ae83c4cbd9c4d050fe01c97f0f75c3--\r\n\r\n"
    headers:
      Authorization:
      - Bearer <STRIPE_KEY>
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost-b3ae83c4cbd9c4d050fe01c97f0f75c3
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "parameter_missing",
            "doc_url": "https://stripe.com/docs/error-codes/parameter-missing",
            "message": "Missing required param: file.",
            "param": "file",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Fri, 27 Apr 2018 10:52:40 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&legal_entity[address][country]=US&tos_acceptance[date]=1524826360
    headers:
      Authorization:
      - Bearer <STRIPE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "parameter_missing",
            "doc_url": "https://stripe.com/docs/error-codes/parameter-missing",
            "message": "Missing required param: tos_acceptance[ip].",
            "param": "tos_acceptance[ip]",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Fri, 27 Apr 2018 10:52:41 GMT
recorded_with: VCR 4.0.0
