---
http_interactions:
- request:
    method: post
    uri: https://uploads.stripe.com/v1/files
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost-71ed50b3318ae7fcb148f19cefe27c44\r\nContent-Disposition:
        form-data; name=\"purpose\"\r\n\r\nidentity_document\r\n-------------RubyMultipartPost-71ed50b3318ae7fcb148f19cefe27c44--\r\n\r\n"
    headers:
      Authorization:
      - Bearer <STRIPE_KEY>
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost-71ed50b3318ae7fcb148f19cefe27c44
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "parameter_missing",
            "doc_url": "https://stripe.com/docs/error-codes/parameter-missing",
            "message": "Missing required param: file.",
            "param": "file",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Fri, 27 Apr 2018 10:52:30 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&legal_entity[address][country]=US&tos_acceptance[date]=1524826350&tos_acceptance[ip]=233.232.42.11
    headers:
      Authorization:
      - Bearer <STRIPE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CLUBoJ70QhR0MFS",
          "object": "account",
          "business_name": null,
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1524826352,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1CLUBoJ70QhR0MFS/external_accounts"
          },
          "keys": {
            "secret": "sk_test_",
            "publishable": "pk_test_"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "business_name": null,
            "business_tax_id_provided": false,
            "dob": {
              "day": null,
              "month": null,
              "year": null
            },
            "first_name": null,
            "last_name": null,
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": false,
            "ssn_last_4_provided": false,
            "type": null,
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "status": "pending"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": false,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1524826350,
            "ip": "233.232.42.11",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": [
              "external_account",
              "legal_entity.dob.day",
              "legal_entity.dob.month",
              "legal_entity.dob.year",
              "legal_entity.first_name",
              "legal_entity.last_name",
              "legal_entity.type"
            ]
          }
        }
  recorded_at: Fri, 27 Apr 2018 10:52:33 GMT
recorded_with: VCR 4.0.0
