<div class='vendor-page-sidebar'>
  <div class='vendor-page-logo'>
    <%= image_tag vendor.logo(:medium), class: 'img-thumbnail' %>
  </div>
  <div class='vendor-page-info'>
    <div class='vendor-page-info-name'>
      <%= vendor.name %>
    </div>
    <div class='vendor-page-info-note'>
      <%= vendor.note %>
    </div>
  </div>
</div>
