<div class='vendor-page-sidebar'>
  <div class='vendor-page-logo'>
    <img src='http://www.thelogomix.com/files/imagecache/v3-logo-detail/bookstore.jpg' class='img-thumbnail'>
  </div>
  <div class='vendor-page-info'>
    <div class='vendor-page-info-name'>
      <%= vendor.name %>
    </div>
    <div class='vendor-page-info-note'>
      <%= vendor.note %>
    </div>
  </div>
</div>
