---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/unknown
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-28'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "account_invalid",
            "doc_url": "https://stripe.com/docs/error-codes/account-invalid",
            "message": "The provided key 'sk_test_********************ZcTr' does not have access to account 'unknown' (or that account does not exist). Application access may have been revoked.",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Fri, 27 Apr 2018 10:52:08 GMT
recorded_with: VCR 4.0.0
