---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1CKmc2IFliRsdw3Y
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1CKmc2IFliRsdw3Y
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1CKmc2IFliRsdw3Y",
          "object": "account",
          "business_name": "Name",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1524658842,
          "debit_negative_balances": false,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": true,
          "display_name": null,
          "email": "email@example.com",
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1CLU7uIFliRsdw3YbaEfQ21D",
                "object": "bank_account",
                "account": "acct_1CKmc2IFliRsdw3Y",
                "account_holder_name": "ew",
                "account_holder_type": "company",
                "bank_name": "BANK OF AMERICA, N.A.",
                "country": "US",
                "currency": "usd",
                "default_for_currency": true,
                "fingerprint": "7Xm5PNg5A7fIywD0",
                "last4": "6789",
                "metadata": {},
                "routing_number": "111000025",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1CKmc2IFliRsdw3Y/external_accounts"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": "San Diego",
              "country": "US",
              "line1": "Folsom drv",
              "line2": null,
              "postal_code": "91110",
              "state": "CA"
            },
            "business_name": "Name",
            "business_tax_id_provided": true,
            "dob": {
              "day": 25,
              "month": 4,
              "year": 1993
            },
            "first_name": "Bob",
            "last_name": "Peterson",
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_id_number_provided": true,
            "ssn_last_4_provided": true,
            "type": "company",
            "verification": {
              "details": null,
              "details_code": null,
              "document": "file_1CKnxzI93ruT9p2PWsofYCYZ",
              "status": "verified"
            }
          },
          "metadata": {},
          "payout_schedule": {
            "delay_days": 2,
            "interval": "daily"
          },
          "payout_statement_descriptor": null,
          "payouts_enabled": true,
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": 1524658841,
            "ip": "233.232.42.11",
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "fields_needed": []
          }
        }
  recorded_at: Fri, 27 Apr 2018 10:52:21 GMT
[...]
